<!DOCTYPE html>
<html>
<head>
    <style>
        /* CSS untuk mengatur ketebalan garis border pada tabel */
        table {
            border-collapse: collapse; /* Untuk memastikan agar garis batas tabel berdempetan */
            width: 100%; /* Lebar tabel */
        }

        th, td {
            border: 2px solid black; /* Ketebalan garis batas untuk sel header dan data */
            padding: 8px; /* Ruang di dalam sel */
            text-align: left; /* Arah teks di dalam sel */
        }
    </style>
</head>
<body>

<table>
    <tr>
        <th>Nama</th>
        <th>Umur</th>
    </tr>
    <tr>
        <td>John Doe</td>
        <td>30</td>
    </tr>
    <tr>
        <td>Jane Smith</td>
        <td>25</td>
    </tr>
</table>

</body>
</html>
function checkDate(inputId) {
    var inputDate = document.getElementById(inputId).value;
    var today = new Date().toISOString().split('T')[0];
    var startDate =document.getElementById('Tanggal_Mulai').value;
    var endDate =document.getElementById('Tanggal_izin').value;

    if (inputDate < today) {
        alert('Tanggal yang dimasukkan sudah lewat!');
        document.getElementById(inputId).value = "";
        // Tambahkan logika atau tindakan lain yang sesuai
    }
    else if(endDate != "" && endDate < startDate ){
        alert('Tanggal selesai Salah ! Tanggal Selesai Harus setelah tanggal mulai');
        document.getElementById("Tanggal_Mulai").value = "";
        document.getElementById("Tanggal_izin").value = "";
    }
}