:root {
    --heading-color: #E6EFFACC;
    --text-color: #0253BA;
}

@media (max-width: 616px) {
    .container {
        margin: 5%;
        margin-left: 12%;
    }
    .card-header {
        background: var(--heading-color);
        width: 84%;
        height: 3rem;
        border-radius: 10px 10px 0px 0px;
    }
    .card-header h1 {
        color: var(--text-color);
        font-size: 16px;
        margin-left: 2rem;
        padding: .8rem;
    }
    .card-body {
        background: rgba(230, 239, 250, 0.65);
        display: grid;
        width: 84%;
        height: 28rem;
        border-radius: 0px 0px 10px 10px;
    }
    .content-text h3 {
        color: var(--text-color);
        font-size: 14px;
        margin: 0.7rem 3rem 1rem;
    }
    .content-box {
        background: var(--heading-color);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        margin: -1rem 3rem 1rem;
        width: 74%;
        height: 2rem;
    }
    .input_waktu {
        width: 100%;
        background: transparent;
    }
    .content-ket {
        background: var(--heading-color);
        border-radius: 5px;
        margin: -1rem 3rem 1rem;
        width: 74%;
        height: 6rem;
    }
    .input_ket {
        width: 100%;
        height: 100%;
        background: transparent;
    }
    .pilih {
        background: var(--heading-color);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        margin: -1rem 3rem 1rem;
        width: 74%;
        height: 2rem;
    }
    .choose {
        color: var(--text-color);
        width: 100%;
        padding: .4rem 4%;
    }
    button {
        background: var(--text-color);
        color: white;
        width: 58%;
        height: 2.8rem;
        margin: 1rem 5rem;
    }
    .notif_berhasil {
        background: #E6EFFA;
        width: 345px;
        height: 245px;
        border-radius: 10px;
        margin-top: 54px;
        margin-left: 40px;
        position: absolute;
        z-index: 7;
    }
    .info_pengajuan {
        display: flex;
        width: 201px;
        margin-top: 21px;
        margin-left: 73px;
    }
    .info_pengajuan h1 {
        color: #0253BA;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
    }
    .icon_sukses {
        color: #0253BA;
        width: 120px;
        height: 120px;
        margin-top: 20px;
        margin-left: 110px;
    }
    .ceklis {
        margin-top: -93px;
        margin-left: 23px;
    }
    .overlay_berhasil {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Latar belakang semi-transparan */
        z-index: 5; /* Atur z-index untuk menutupi elemen-elemen latar belakang */
    }
}

@media (max-width: 496px) {
    .container {
        margin: 6%;
        margin-left: 12%;
    }
    .notif_berhasil {
        margin-left: 5px;
    }
}

@media (max-width: 352px) {
    .card-header h1 {
        margin-left: .2rem;
        padding: .8rem;     
    }
    .content-text h3 {
        margin: 0.7rem 1rem 1rem;  
    }
    .content-box {
        margin: -1rem 1rem 1rem;
    }
    .content-ket {
        margin: -1rem 1rem 1rem;
    }
    .pilih {
        margin: -1rem 1rem 1rem;
    }
    button {
        margin: 1rem 2rem;
    }
    .notif_berhasil {
        width: 245px;
        height: 178px;
        margin-left: 2px;
    }
    .info_pengajuan {
        margin-left: 24px;
    }
    .info_pengajuan h1 {
        font-size: 13px;
    }
    .icon_sukses {
        margin-left: 66px;
    }
}