@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

* {
    font-family: sans-serif;
}

body {
    background-color: #CFE1F8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.bungkus {
    display: flex;
    width: 100%;
}

.container {
    background: linear-gradient(51deg, #0051B9 0.78%, #0760C0 35.49%, #3EDCFF 100%);
    box-shadow: 10px 0px 8px 0px rgba(0, 0, 0, 0.25);
    width: 67%;
    height: 100%;
    overflow: hidden;
}

.titleApp {
    color: white;
    margin: 15px;
}

.lambang {
    width: 500px;
    margin-left: 32rem;
    margin-top: 17rem;
}

.halo {
    font-size: 1.7rem;
}

.halo h1 {
    color: #338BFD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 60%;
    margin-left: 266px;
}

.halo h2 {
    color: #338BFD;
    margin-top: -11%;
    margin-left: 100px;
}

.form-box {
    margin-top: 22rem;
    margin-left: -19.4rem;
}

.form-control {
    background: #F9F9F9;
    font-size: 10px;
    width: 285px;
    height: 37px;
    border-radius: 20px;
    margin: 10px;
}

.form-control::placeholder {
    text-indent: 35px;
}

.icon .user {
    position: absolute;
    color: #C7C7C7;
    width: 50px;
    height: 20px;
    top: 50%;
    right: 256px; /* Jarak antara ikon dan elemen input */
    transform: translateY(-50%);
}

.icon {
    position: relative;
}

.icon input {
    text-indent: 35px;
}

.submit {
    margin-top: 10px;
    margin-left: 4.4%;
}

.btn.btn-primary {
    font-size: 20px;
    color: white;
    background-color: #0051B9;
    width: 285px;
    height: 37px;
}

.btn.btn-link {
    font-size: 20px;
    margin-left: 4.4%;
}

@media (max-width: 1286px) {
    .container {
        width: 57%;
    }
    .titleApp h1 {
        font-size: 20px;
    }
    .lambang {
        width: 448px;
        margin-left: 17rem;
        margin-top: 22.2rem;
    }
    .form-box {
        margin-top: 22rem;
        margin-left: -19rem;
    }
}

@media (max-width: 1286px) {
    .lambang {
        margin-left: 13rem;
    }
}

@media (max-width: 1088px) {
    .lambang {
        margin-top: 20.7rem;
        margin-left: 8rem;
    }
}