body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .container {
    max-width: 1300px;
    margin: 20px;
    background-color: #fff;
    color: #02BA62;
    font-weight: bold;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .blangko {
    display: flex;
    height: fit-content;
  }
  .blan_tgl {
    margin-top: 17px;
    margin-left: 224px;
    height: fit-content;
  }
  .blan_tgl p {
    margin: 0;
    padding: 0;
  }
  .isi {
    display: flex;
    margin-top: -17px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 3px solid #02BA62;
    text-align: left;
    padding: 8px;
  }
  .tgl_blangko {
    border: 3px solid #02BA62;
    width: 225px;
    height: 60px;
    margin-left: 21px;
    text-align: center;
  }
  .line {
    background: black;
    width: 126px;
    height: 2px;
  }
  .tanda_tangan {
    display: flex;
    justify-content: space-between;
    width: 342px;
    margin-left: 21px;
  }
  .tanda_tangan2 {
    display: flex;
    justify-content: space-between;
    width: 342px;
    margin-top: 67px;
    margin-left: 21px;
  }
  .logo {
    width: 95px;
    height: 80%;
    margin-left: -64px;
  }